{% extends 'base.html '%}
{% load humanize %}
{% block content %}
<div class="main">
    <div class="d-flex justify-content-center">
        <div class="w-50">
            <h1 class="display-4 text-white text-left">North America</h1>
            <table class="table-light table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">Total Cases</th>
                        <th scope="col">New Cases</th>
                        <th scope="col">Total Deaths</th>
                        <th scope="col">New Deaths</th>
                        <th scope="col">Total Recovered</th>
                        <th scope="col">New Recovered</th>
                        <th scope="col">Active Cases</th>
                        <th scope="col">Serious Critical</th>
                        <th scope="col">Population</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in north_america %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <th>{{country.country}}</th>
                        <td>{{country.cases|intcomma}}</td>
                        {% if country.todayCases == 0 %}
                        <td></td>
                        {% else %}
                        <td class="text-white bg-warning">+{{country.todayCases|intcomma}}</td>
                        {% endif %}
                        {% if country.deaths == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{country.deaths|intcomma}}</td>
                        {% endif %}
                        {% if country.todayDeaths == 0 %}
                        <td></td>
                        {% else %}
                        <td class="text-white bg-danger">+{{country.todayDeaths|intcomma}}</td>
                        {% endif %}
                        <td>{{country.recovered|intcomma}}</td>
                        {% if country.todayRecovered == 0 %}
                        <td></td>
                        {% else %}
                        <td class="text-white bg-success">+{{country.todayRecovered|intcomma}}</td>
                        {% endif %}
                        {% if country.active == 0%}
                        <td></td>
                        {% else %}
                        <td>{{country.active|intcomma}}</td>
                        {% endif %}
                        {% if country.critical == 0 %}
                        <td></td>
                        {% else %}
                        <td>{{country.critical|intcomma}}</td>
                        {% endif %}
                        <td>{{country.population|intcomma}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}